<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxx.mapper.ExportMapper" >

  <select id="selectAll" resultType="com.jxx.excel.Export">
    SELECT
    (CASE A.OPERATE_TYPE
    WHEN 2 THEN
    SA.SALEORDER_ID
    WHEN 4 THEN
    ASS.ORDER_ID
    WHEN 6 THEN
    ASS.ORDER_ID
    WHEN 7 THEN
    ASS.ORDER_ID
    ELSE ''
    END) AS 'ORDER_ID',
    (CASE A.OPERATE_TYPE
    WHEN 2 THEN
    SA.SALEORDER_NO
    WHEN 4 THEN
    ASS.AFTER_SALES_NO
    WHEN 6 THEN
    ASS.AFTER_SALES_NO
    WHEN 7 THEN
    ASS.AFTER_SALES_NO
    WHEN 10 THEN
    OO.order_no
    WHEN 13 THEN
    OO.order_no
    WHEN 14 THEN
    OO.order_no
    ELSE ''
    END) AS '单号',
    CASE
    WHEN SA.STATUS = 1 THEN
    '进行中'
    WHEN SA.STATUS = 2 THEN
    '已完结'
    WHEN SA.STATUS = 3 THEN
    '已关闭' ELSE '待确认'
    END '订单状态',
    FROM_UNIXTIME(
    IF
    (
    SA.ADD_TIME = 0,
    NULL,
    SA.ADD_TIME
    ) / 1000,
    '%Y-%m-%d'
    ) AS '创建时间',
    FROM_UNIXTIME(
    IF
    (
    SA.VALID_TIME = 0,
    NULL,
    SA.VALID_TIME
    ) / 1000,
    '%Y-%m-%d'
    ) AS '生效时间',
    SA.TRADER_NAME '客户名称',
    SA.TRADER_ID '客户ID',
    OOO.TITLE '客户等级',
    CASE

    WHEN CC.CUSTOMER_TYPE = 426 THEN
    '科研医疗'
    WHEN CC.CUSTOMER_TYPE = 427 THEN
    '临床医疗' ELSE ''
    END AS '客户类别',
    CASE

    WHEN CC.CUSTOMER_NATURE = 465 THEN
    '分销'
    WHEN CC.CUSTOMER_NATURE = 466 THEN
    '终端' ELSE ''
    END AS '客户性质',
    (
    SELECT
    F.ORG_NAME
    FROM
    T_R_USER_POSIT D
    LEFT JOIN T_POSITION E ON D.POSITION_ID = E.POSITION_ID
    LEFT JOIN T_ORGANIZATION F ON E.ORG_ID = F.ORG_ID
    WHERE
    D.USER_ID = ccc.USER_ID
    LIMIT 1
    ) AS '归属部门',
    e.TITLE '发票类型',
    IFNULL(
    R3.REGION_NAME,
    IFNULL( R2.REGION_NAME, R1.REGION_NAME )) '客户归属省',
    AB.SHOW_NAME 商品名称,
    AB.SKU_NO SKU,
    BRA.BRAND_NAME 品牌,
    AB.MODEL '规格',
    UN.UNIT_NAME 计量单位,
    CB.BASE_CATEGORY_NAME '三级分类',
    DB.BASE_CATEGORY_NAME '二级分类',
    EB.BASE_CATEGORY_NAME  '一级分类',
    TC3.CATEGORY_NAME AS '老三级分类',
    TC2.CATEGORY_NAME AS '老二级分类',
    TC.CATEGORY_NAME AS '老一级分类',
    BR.BARCODE 贝登条码,
    A.BARCODE_FACTORY 厂商条码,
    ABS(A.NUM) 数量,
    IF(A.OPERATE_TYPE =2 ,ABS(A.NUM) * SG.PRICE,'' ) 金额,
    A.BATCH_NUMBER 批次,
    FROM_UNIXTIME( A.ADD_TIME / 1000, '%Y-%m-%d' ) AS '出库时间'
    FROM
    T_WAREHOUSE_GOODS_OPERATE_LOG A
    LEFT JOIN T_SALEORDER_GOODS SG ON SG.SALEORDER_GOODS_ID=A.RELATED_ID AND A.OPERATE_TYPE=2
    LEFT JOIN T_SALEORDER SA ON SG.SALEORDER_ID=SA.SALEORDER_ID
    LEFT JOIN T_AFTER_SALES_GOODS ASG ON ASG.AFTER_SALES_GOODS_ID=A.RELATED_ID AND A.OPERATE_TYPE IN (4,6,7)
    LEFT JOIN T_AFTER_SALES ASS ON ASG.AFTER_SALES_ID=ASS.AFTER_SALES_ID
    LEFT JOIN T_AFTER_SALES_DETAIL ASD ON ASG.AFTER_SALES_ID=ASD.AFTER_SALES_ID
    LEFT JOIN T_TRADER T ON ASD.TRADER_ID=T.TRADER_ID
    LEFT JOIN T_WMS_OUTPUT_ORDER_GOODS OOG ON OOG.id=A.RELATED_ID AND A.OPERATE_TYPE IN (10,13,14)
    LEFT JOIN T_WMS_OUTPUT_ORDER OO ON OO.id=OOG.wms_output_order_id
    LEFT JOIN T_BARCODE BR ON BR.BARCODE_ID = A.BARCODE_ID
    LEFT JOIN V_CORE_SKU AB ON AB.SKU_ID = A.GOODS_ID
    LEFT JOIN V_CORE_SPU BB ON AB.SPU_ID = BB.SPU_ID
    LEFT JOIN V_BASE_CATEGORY CB ON BB.CATEGORY_ID = CB.BASE_CATEGORY_ID
    LEFT JOIN V_BASE_CATEGORY DB ON CB.PARENT_ID = DB.BASE_CATEGORY_ID
    LEFT JOIN V_BASE_CATEGORY EB ON DB.PARENT_ID = EB.BASE_CATEGORY_ID
    LEFT JOIN T_FIRST_ENGAGE FI ON BB.FIRST_ENGAGE_ID=FI.FIRST_ENGAGE_ID
    LEFT JOIN T_GOODS goods on goods.GOODS_ID=A.GOODS_ID
    LEFT JOIN T_CATEGORY TC ON TC.CATEGORY_ID=goods.CATEGORY_ID AND TC.STATUS=1
    LEFT JOIN T_CATEGORY TC2 ON TC2.CATEGORY_ID=TC.PARENT_ID AND TC2.STATUS=1
    LEFT JOIN T_CATEGORY TC3 ON TC3.CATEGORY_ID=TC2.CATEGORY_ID AND TC3.STATUS=1
    LEFT JOIN T_BRAND BRA ON BRA.BRAND_ID = BB.BRAND_ID
    LEFT JOIN T_UNIT UN ON UN.UNIT_ID=AB.BASE_UNIT_ID
    LEFT JOIN T_R_TRADER_J_USER bbb ON SA.TRADER_ID = bbb.TRADER_ID
    LEFT JOIN T_USER ccc ON bbb.USER_ID = ccc.USER_ID
    LEFT JOIN T_USER CR ON CR.USER_ID = SA.CREATOR
    LEFT JOIN T_SALEORDER_GOODS b ON SA.SALEORDER_ID = b.SALEORDER_ID
    AND b.IS_DELETE = 0
    LEFT JOIN T_SYS_OPTION_DEFINITION d ON d.SYS_OPTION_DEFINITION_ID = SA.DELIVERY_TYPE
    LEFT JOIN T_SYS_OPTION_DEFINITION e ON e.SYS_OPTION_DEFINITION_ID = SA.INVOICE_TYPE
    LEFT JOIN T_TRADER TRA ON TRA.TRADER_ID = SA.TRADER_ID
    LEFT JOIN T_TRADER_CUSTOMER CC ON CC.TRADER_ID = SA.TRADER_ID
    LEFT JOIN T_REGION R1 ON R1.region_id = TRA.AREA_ID
    LEFT JOIN T_REGION R2 ON R2.region_id = R1.PARENT_ID
    AND R2.REGION_ID > 100000
    LEFT JOIN T_REGION R3 ON R3.region_id = R2.PARENT_ID
    AND R1.REGION_ID > 100000
    LEFT JOIN T_SYS_OPTION_DEFINITION OOO ON OOO.SYS_OPTION_DEFINITION_ID = CC.CUSTOMER_LEVEL
    WHERE
    A.LOG_TYPE = 1
    AND A.IS_ENABLE = 1
    AND A.ADD_TIME > #{startTime} AND A.ADD_TIME  &lt; #{endTime}
--     AND A.WAREHOUSE_GOODS_OPERATE_LOG_ID =6860090
    GROUP BY A.BARCODE_ID
  </select>


</mapper>