<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxx.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jxx.fuction.abstractFactory.User" >
    <!--          -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insert"  parameterType="com.jxx.fuction.abstractFactory.User" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
    INSERT INTO V_USER (ID,NAME,AGE)
    VALUES  (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.jxx.fuction.abstractFactory.User">
      update V_USER
    set
      NAME = #{name,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getUserByName" resultMap="BaseResultMap">
  SELECT * FROM V_USER WHERE NAME= #{name,jdbcType=VARCHAR}
  </select>

</mapper>