<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jxx.mapper.WarehouseGoodsOperateLogMapper" >

    <insert id="insertSelective" parameterType="com.jxx.common.model.WarehouseGoodsOperateLogDto"
            useGeneratedKeys="true" keyProperty="warehouseGoodsOperateLogId">
        insert into T_WAREHOUSE_GOODS_OPERATE_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="barcodeId != null">
                BARCODE_ID,
            </if>
            <if test="companyId != null">
                COMPANY_ID,
            </if>
            <if test="operateType != null">
                OPERATE_TYPE,
            </if>
            <if test="relatedId != null">
                RELATED_ID,
            </if>
            <if test="goodsId != null">
                GOODS_ID,
            </if>
            <if test="barcodeFactory != null">
                BARCODE_FACTORY,
            </if>
            <if test="num != null">
                NUM,
            </if>
            <if test="warehouseId != null">
                WAREHOUSE_ID,
            </if>
            <if test="storageRoomId != null">
                STORAGE_ROOM_ID,
            </if>
            <if test="storageAreaId != null">
                STORAGE_AREA_ID,
            </if>
            <if test="storageLocationId != null">
                STORAGE_LOCATION_ID,
            </if>
            <if test="storageRackId != null">
                STORAGE_RACK_ID,
            </if>
            <if test="batchNumber != null">
                BATCH_NUMBER,
            </if>
            <if test="expirationDate != null">
                EXPIRATION_DATE,
            </if>
            <if test="productDate != null">
                PRODUCT_DATE,
            </if>
            <if test="checkStatus != null">
                CHECK_STATUS,
            </if>
            <if test="checkStatusUser != null">
                CHECK_STATUS_USER,
            </if>
            <if test="checkStatusTime != null">
                CHECK_STATUS_TIME,
            </if>
            <if test="recheckStatus != null">
                RECHECK_STATUS,
            </if>
            <if test="recheckStatusUser != null">
                RECHECK_STATUS_USER,
            </if>
            <if test="recheckStatusTime != null">
                RECHECK_STATUS_TIME,
            </if>
            <if test="comments != null">
                COMMENTS,
            </if>
            <if test="addTime != null">
                ADD_TIME,
            </if>
            <if test="creator != null">
                CREATOR,
            </if>
            <if test="modTime != null">
                MOD_TIME,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="isEnable != null">
                IS_ENABLE,
            </if>
            <if test="warehousePickingDetailId != null">
                WAREHOUSE_PICKING_DETAIL_ID,
            </if>
            <if test="logicalWarehouseId != null">
                LOGICAL_WAREHOUSE_ID,
            </if>
            <if test="vedengBatchNumer != null">
                VEDENG_BATCH_NUMER,
            </if>
            <if test="lastStockNum != null">
                LAST_STOCK_NUM,
            </if>
            <if test="isUse != null">
                IS_USE,
            </if>
            <if test="costPrice != null">
                COST_PRICE,
            </if>
            <if test="sterilizationBatchNo != null">
                STERILZATION_BATCH_NUMBER,
            </if>
            <if test="logType != null">
                LOG_TYPE,
            </if>
            <if test="tagSources != null">
                TAG_SOURCES,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="barcodeId != null">
                #{barcodeId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="operateType != null">
                #{operateType,jdbcType=BIT},
            </if>
            <if test="relatedId != null">
                #{relatedId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="barcodeFactory != null">
                #{barcodeFactory,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=INTEGER},
            </if>
            <if test="storageRoomId != null">
                #{storageRoomId,jdbcType=INTEGER},
            </if>
            <if test="storageAreaId != null">
                #{storageAreaId,jdbcType=INTEGER},
            </if>
            <if test="storageLocationId != null">
                #{storageLocationId,jdbcType=INTEGER},
            </if>
            <if test="storageRackId != null">
                #{storageRackId,jdbcType=INTEGER},
            </if>
            <if test="batchNumber != null">
                #{batchNumber,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                #{expirationDate,jdbcType=BIGINT},
            </if>
            <if test="productDate != null">
                #{productDate,jdbcType=BIGINT},
            </if>
            <if test="checkStatus != null">
                #{checkStatus,jdbcType=BIT},
            </if>
            <if test="checkStatusUser != null">
                #{checkStatusUser,jdbcType=INTEGER},
            </if>
            <if test="checkStatusTime != null">
                #{checkStatusTime,jdbcType=BIGINT},
            </if>
            <if test="recheckStatus != null">
                #{recheckStatus,jdbcType=BIT},
            </if>
            <if test="recheckStatusUser != null">
                #{recheckStatusUser,jdbcType=INTEGER},
            </if>
            <if test="recheckStatusTime != null">
                #{recheckStatusTime,jdbcType=BIGINT},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="modTime != null">
                #{modTime,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=INTEGER},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=BIT},
            </if>
            <if test="warehousePickingDetailId != null">
                #{warehousePickingDetailId,jdbcType=INTEGER},
            </if>
            <if test="logicalWarehouseId != null">
                #{logicalWarehouseId,jdbcType=INTEGER},
            </if>
            <if test="vedengBatchNumer != null">
                #{vedengBatchNumer,jdbcType=VARCHAR},
            </if>
            <if test="lastStockNum != null">
                #{lastStockNum,jdbcType=INTEGER},
            </if>
            <if test="isUse != null">
                #{isUse,jdbcType=INTEGER},
            </if>
            <if test="costPrice != null">
                #{costPrice,jdbcType=DECIMAL},
            </if>
            <if test="sterilizationBatchNo != null">
                #{sterilizationBatchNo,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                #{logType,jdbcType=VARCHAR},
            </if>
            <if test="tagSources != null">
                #{tagSources,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <select id="selectById" resultType="com.jxx.common.model.WarehouseGoodsOperateLog">
        SELECT
            A.*
        FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
        WHERE
            A.WAREHOUSE_GOODS_OPERATE_LOG_ID = #{warehouseGoodsOperateLogId}
    </select>
    <select id="getBuyorder" resultType="com.jxx.common.model.WarehouseGoodsOperateLog">
        SELECT
        (CASE A.OPERATE_TYPE
        WHEN 1 THEN
        C.BUYORDER_NO
        WHEN 3 THEN
        ASS.AFTER_SALES_NO
        WHEN 5 THEN
        ASS.AFTER_SALES_NO
        WHEN 8 THEN
        ASS.AFTER_SALES_NO
        WHEN 9 THEN
        IF(L.LEND_OUT_NO IS NOT NULL,L.LEND_OUT_NO,OO.order_no)
        WHEN 12 THEN
        IO.ORDER_NO
        WHEN 11 THEN
        IA.INVENTORY_ADJUSTMENT_NO
        ELSE ''
        END) AS orderNo,

        FROM_UNIXTIME(
        IFNULL(	CASE A.OPERATE_TYPE
        WHEN 1 THEN C.ADD_TIME
        WHEN 3 THEN ASS.ADD_TIME
        WHEN 5 THEN ASS.ADD_TIME
        WHEN 8 THEN ASS.ADD_TIME
        WHEN 9 THEN IF(L.LEND_OUT_ID IS NOT NULL,L.ADD_TIME,OO.add_time)
        WHEN 12 THEN  UNIX_TIMESTAMP(IO.ADD_TIME) *1000
        ELSE NULL END ,NULL) /1000,'%Y-%m-%d'
        )  '创建时间',
        AB.SKU_NO,
        A.WAREHOUSE_GOODS_OPERATE_LOG_ID,
        (CASE A.OPERATE_TYPE
        WHEN 1 THEN
        B.NUM
        WHEN 3 THEN
        ASG.NUM
        WHEN 5 THEN
        ASG.NUM
        WHEN 8 THEN
        ASG.NUM
        WHEN 9 THEN
        IF(L.LEND_OUT_NO IS NOT NULL,L.LEND_OUT_NUM,OOG.output_num)
        WHEN 12 THEN
        IOG.INPUT_NUM
        WHEN 11 THEN
        IAD.NUM
        ELSE ''
        END) AS '订单商品数量',
        (CASE A.OPERATE_TYPE
        WHEN 1 THEN
        B.ARRIVAL_NUM
        WHEN 3 THEN
        ASG.ARRIVAL_NUM
        WHEN 5 THEN
        ASG.ARRIVAL_NUM
        WHEN 8 THEN
        ASG.ARRIVAL_NUM
        WHEN 9 THEN
        IF(L.LEND_OUT_NO IS NOT NULL,L.RETURN_NUM,OOG.already_input_num)
        WHEN 12 THEN
        IOG.ARRIVAL_NUM
        WHEN 11 THEN
        IAD.NUM
        ELSE ''
        END) AS 'ORDER_ARRIVAL_NUM',
        A.NUM LOG_NUM,
        A.ADD_TIME,
        A.LAST_STOCK_NUM,
        A.VEDENG_BATCH_NUMER,
        A.COMMENTS
        FROM
        T_WAREHOUSE_GOODS_OPERATE_LOG A
        LEFT JOIN T_BUYORDER_GOODS B ON B.BUYORDER_GOODS_ID = A.RELATED_ID AND B.IS_DELETE = 0
        LEFT JOIN T_BUYORDER C ON B.BUYORDER_ID = C.BUYORDER_ID AND C.VALID_STATUS = 1 AND A.OPERATE_TYPE = 1
        LEFT JOIN T_AFTER_SALES_GOODS ASG ON ASG.AFTER_SALES_GOODS_ID=A.RELATED_ID AND A.OPERATE_TYPE IN (3,5,8)
        LEFT JOIN T_AFTER_SALES ASS ON ASG.AFTER_SALES_ID=ASS.AFTER_SALES_ID
        LEFT JOIN T_AFTER_SALES_DETAIL ASD ON ASD.AFTER_SALES_ID = ASS.AFTER_SALES_ID
        LEFT JOIN T_WMS_OUTPUT_ORDER_GOODS OOG ON OOG.id=A.RELATED_ID AND A.OPERATE_TYPE = 9 AND A.ADD_TIME >1514736000000
        LEFT JOIN T_WMS_OUTPUT_ORDER OO ON OOG.wms_output_order_id=OO.id
        LEFT JOIN T_LEND_OUT L ON A.RELATED_ID = L.LEND_OUT_ID  AND A.OPERATE_TYPE = 9 AND A.ADD_TIME &lt;=1514736000000
        LEFT JOIN T_WMS_INPUT_ORDER_GOODS IOG ON IOG.WMS_INPUT_ORDER_GOODS_ID = A.RELATED_ID AND A.OPERATE_TYPE=12
        LEFT JOIN T_WMS_INPUT_ORDER IO ON IOG.WMS_INPUT_ORDER_ID=IO.WMS_INPUT_ORDER_ID
        LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_DETAIL IAD ON IAD.INVENTORY_ADJUSTMENT_DETAIL_ID = A.RELATED_ID AND A.OPERATE_TYPE = 11
        LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT IA ON IA.INVENTORY_ADJUSTMENT_ID = IAD.INVENTORY_ADJUSTMENT_ID
        LEFT JOIN T_BARCODE BR ON BR.BARCODE_ID = A.BARCODE_ID
        LEFT JOIN V_CORE_SKU AB ON AB.SKU_ID = A.GOODS_ID
        LEFT JOIN V_CORE_SPU BB ON AB.SPU_ID = BB.SPU_ID
        WHERE
        A.LOG_TYPE = 0
        AND C.BUYORDER_NO=#{buyorderNo} AND AB.SKU_NO=#{sku}
    </select>
    <select id="getAdjDetilsByAdjNo" resultType="com.jxx.common.model.po.InventoryAdjustmentDetailPo">
        SELECT
            SKU.SPU_ID,A.INVENTORY_ADJUSTMENT_NO,SKU.SKU_NAME goodsName,B.*
        FROM
            T_WMS_INVENTORY_ADJUSTMENT A
            LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_DETAIL B ON A.INVENTORY_ADJUSTMENT_ID = B.INVENTORY_ADJUSTMENT_ID
            LEFT JOIN V_CORE_SKU SKU ON SKU.SKU_NO=B.SKU_NO
        WHERE
            A.INVENTORY_ADJUSTMENT_NO = #{adjNo}
    </select>
    <select id="getInorderDetilsByInNo" resultType="com.jxx.common.model.po.WmsInputOrderGoods">
        SELECT
            SKU.SPU_ID,A.ORDER_NO,SKU.SKU_NAME,B.*
        FROM
            T_WMS_INPUT_ORDER A
            LEFT JOIN T_WMS_INPUT_ORDER_GOODS B ON A.WMS_INPUT_ORDER_ID = B.WMS_INPUT_ORDER_ID
            LEFT JOIN V_CORE_SKU SKU ON SKU.SKU_NO=B.SKU_NO
        WHERE
            A.ORDER_NO = #{inNo}
    </select>
    <select id="selectDtoById" resultType="com.jxx.common.model.WarehouseGoodsOperateLogDto">
        SELECT
            A.*
        FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
        WHERE
            A.WAREHOUSE_GOODS_OPERATE_LOG_ID = #{warehouseGoodsOperateLogId}
    </select>

    <select id="getInorderDetilsByInNoSku" resultType="com.jxx.common.model.po.WmsInputOrderGoods">
        SELECT
            SKU.SPU_ID,A.ORDER_NO,SKU.SKU_NAME,B.*
        FROM
            T_WMS_INPUT_ORDER A
                LEFT JOIN T_WMS_INPUT_ORDER_GOODS B ON A.WMS_INPUT_ORDER_ID = B.WMS_INPUT_ORDER_ID
                LEFT JOIN V_CORE_SKU SKU ON SKU.SKU_NO=B.SKU_NO
        WHERE
            A.ORDER_NO = #{orderNo} AND B.SKU_NO = #{sku}
    </select>
    <select id="getAdjDetilByDetilId" resultType="com.jxx.common.model.po.InventoryAdjustmentDetailPo">
        SELECT
            SKU.SPU_ID,A.INVENTORY_ADJUSTMENT_NO,SKU.SKU_NAME goodsName,B.*
        FROM
            T_WMS_INVENTORY_ADJUSTMENT A
                LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_DETAIL B ON A.INVENTORY_ADJUSTMENT_ID = B.INVENTORY_ADJUSTMENT_ID
                LEFT JOIN V_CORE_SKU SKU ON SKU.SKU_NO=B.SKU_NO
        WHERE
            B.INVENTORY_ADJUSTMENT_DETAIL_ID = #{adjDetilId}
    </select>
    <select id="getWarehouseIn" resultType="com.jxx.common.model.WarehouseGoodsOperateLogDto">
        SELECT
            A.*
        FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
        WHERE
            A.OPERATE_TYPE = #{operateType}
          AND A.RELATED_ID = #{relatedId}
          AND A.IS_ENABLE = 1
        ORDER BY A.WAREHOUSE_GOODS_OPERATE_LOG_ID ASC
    </select>
    <select id="getAdjDetilByorderNoSku" resultType="com.jxx.common.model.po.InventoryAdjustmentDetailPo">
        SELECT
            SKU.SPU_ID,A.INVENTORY_ADJUSTMENT_NO,SKU.SKU_NAME goodsName,B.*
        FROM
            T_WMS_INVENTORY_ADJUSTMENT A
                LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_DETAIL B ON A.INVENTORY_ADJUSTMENT_ID = B.INVENTORY_ADJUSTMENT_ID
                LEFT JOIN V_CORE_SKU SKU ON SKU.SKU_NO=B.SKU_NO
        WHERE
            B.SKU_NO =#{sku} AND A.INVENTORY_ADJUSTMENT_NO = #{orderNo}
    </select>
    <select id="getWarehouseLogByBarcodeId" resultType="com.jxx.common.model.WarehouseGoodsOperateLogDto">
        SELECT
            A.*
        FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
        WHERE
            1=1
          AND A.IS_ENABLE=1
          AND A.LOG_TYPE = #{logType}
          AND A.BARCODE_ID = #{barcodeId}
    </select>
    <select id="getZeroPriceLog" resultType="com.jxx.common.model.WarehouseGoodsOperateLogDto">
        SELECT
            A.*
        FROM
            T_WAREHOUSE_GOODS_OPERATE_LOG A
        WHERE
            A.LOG_TYPE = 0
          AND A.OPERATE_TYPE  IN ( 3, 5, 9, 11 )
          AND A.IS_ENABLE = 1
          AND (
                A.NEW_COST_PRICE IS NULL
                OR A.NEW_COST_PRICE = 0
            )
    </select>
    <select id="getAvgPrice" resultType="com.jxx.common.model.Order">
        SELECT
            A.PRICE,
            A.NUM,
            A.GOODS_ID,
            A.PRICE * A.NUM totalAmount
        FROM
            T_BUYORDER_GOODS A
            LEFT JOIN T_BUYORDER B ON A.BUYORDER_ID = B.BUYORDER_ID
        WHERE
            1=1
          AND A.NUM > 0
          AND A.GOODS_ID = #{goodsId}
          AND A.IS_DELETE = 0
          AND A.PRICE > 0
          AND A.ARRIVAL_NUM > 0
        GROUP BY
            B.BUYORDER_ID
        ORDER BY A.BUYORDER_GOODS_ID DESC
            LIMIT 20
    </select>
    <select id="getNoNumberLogByOrderNo" resultType="com.jxx.common.model.WarehouseGoodsOperateLogDto">
        SELECT
        A.WAREHOUSE_GOODS_OPERATE_LOG_ID,
        (CASE A.OPERATE_TYPE
        WHEN 1 THEN
        C.BUYORDER_NO
        WHEN 3 THEN
        ASS.AFTER_SALES_NO
        WHEN 5 THEN
        ASS.AFTER_SALES_NO
        WHEN 8 THEN
        ASS.AFTER_SALES_NO
        WHEN 9 THEN
        IF(L.LEND_OUT_NO IS NOT NULL,L.LEND_OUT_NO,OO.order_no)
        WHEN 12 THEN
        IO.ORDER_NO
        WHEN 11 THEN
        IA.INVENTORY_ADJUSTMENT_NO
        ELSE ''
        END) AS ORDER_NO,
        CASE A.OPERATE_TYPE
        WHEN 1 THEN '采购入库'
        WHEN 2 THEN '销售出库'
        WHEN 3 THEN '销售换货入库'
        WHEN 4 THEN '销售换货出库'
        WHEN 5 THEN '销售退货入库'
        WHEN 6 THEN '采购退货出库'
        WHEN 7 THEN '采购换货出库'
        WHEN 8 THEN '采购换货入库'
        WHEN 9 THEN '外借入库'
        WHEN 10 THEN '外借出库'
        WHEN 11 THEN '调整盘盈入库'
        WHEN 12 THEN '盘盈入库'
        WHEN 13 THEN '报废出库'
        WHEN 14 THEN '领用出库'
        ELSE ''
        END  AS  '单据类型',
        FROM_UNIXTIME(
        IFNULL(	CASE A.OPERATE_TYPE
        WHEN 1 THEN C.ADD_TIME
        WHEN 3 THEN ASS.ADD_TIME
        WHEN 5 THEN ASS.ADD_TIME
        WHEN 8 THEN ASS.ADD_TIME
        WHEN 9 THEN IF(L.LEND_OUT_ID IS NOT NULL,L.ADD_TIME,UNIX_TIMESTAMP(OO.add_time) *1000)
        WHEN 12 THEN  UNIX_TIMESTAMP(IO.ADD_TIME) *1000
        ELSE NULL END ,NULL) /1000,'%Y-%m-%d'
        )  '创建时间',
        AB.SKU_NO SKU,
        AB.SHOW_NAME 商品名称,
        ABS(A.NUM) 数量,
        A.NEW_COST_PRICE '单价',
        ABS(A.NUM) * A.NEW_COST_PRICE '入库金额',
        FROM_UNIXTIME( A.ADD_TIME / 1000, '%Y-%m-%d' ) AS '入库时间'
        FROM
        T_WAREHOUSE_GOODS_OPERATE_LOG A
        -- 	LEFT JOIN T_WAREHOUSE_GOODS_OPERATE_LOG O ON A.BARCODE_ID = O.BARCODE_ID AND O.LOG_TYPE=1
        LEFT JOIN T_BUYORDER_GOODS B ON B.BUYORDER_GOODS_ID = A.RELATED_ID AND B.IS_DELETE = 0
        LEFT JOIN T_BUYORDER C ON B.BUYORDER_ID = C.BUYORDER_ID AND C.VALID_STATUS = 1 AND A.OPERATE_TYPE=1
        LEFT JOIN T_AFTER_SALES_GOODS ASG ON ASG.AFTER_SALES_GOODS_ID=A.RELATED_ID AND A.OPERATE_TYPE IN (3,5,8)
        LEFT JOIN T_AFTER_SALES ASS ON ASG.AFTER_SALES_ID=ASS.AFTER_SALES_ID
        LEFT JOIN T_AFTER_SALES_DETAIL ASD ON ASD.AFTER_SALES_ID = ASS.AFTER_SALES_ID
        LEFT JOIN T_WMS_OUTPUT_ORDER_GOODS OOG ON OOG.id=A.RELATED_ID AND A.OPERATE_TYPE = 9 AND A.ADD_TIME >1514736000000
        LEFT JOIN T_WMS_OUTPUT_ORDER OO ON OOG.wms_output_order_id=OO.id
        LEFT JOIN T_LEND_OUT L ON A.RELATED_ID = L.LEND_OUT_ID  AND A.OPERATE_TYPE = 9 AND A.ADD_TIME &lt;=1514736000000
        LEFT JOIN T_WMS_INPUT_ORDER_GOODS_backup1 IOG ON IOG.WMS_INPUT_ORDER_GOODS_ID = A.RELATED_ID AND A.OPERATE_TYPE=12
        LEFT JOIN T_WMS_INPUT_ORDER_backup1 IO ON IOG.WMS_INPUT_ORDER_ID=IO.WMS_INPUT_ORDER_ID
        LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_DETAIL_backup1 IAD ON IAD.INVENTORY_ADJUSTMENT_DETAIL_ID = A.RELATED_ID AND A.OPERATE_TYPE = 11
        LEFT JOIN T_WMS_INVENTORY_ADJUSTMENT_backup1 IA ON IA.INVENTORY_ADJUSTMENT_ID = IAD.INVENTORY_ADJUSTMENT_ID
        LEFT JOIN T_BARCODE BR ON BR.BARCODE_ID = A.BARCODE_ID
        LEFT JOIN V_CORE_SKU AB ON AB.SKU_ID = A.GOODS_ID
        WHERE
        A.LOG_TYPE = 0
        AND A.IS_ENABLE=1
        AND A.NUM > 0
        AND A.VEDENG_BATCH_NUMER = ''
        AND A.IS_USE = 0
        AND A.LAST_STOCK_NUM > 0
        -- 	AND A.ADD_TIME BETWEEN 1543593600000 AND 1598889600000
        -- 	AND O.WAREHOUSE_GOODS_OPERATE_LOG_ID IS NULL
        AND A.ADD_TIME &lt; 1598889600000
        AND A.GOODS_ID NOT IN ( SELECT COMMENTS FROM T_SYS_OPTION_DEFINITION WHERE PARENT_ID = 693 )
        AND AB.SKU_NO = #{sku}
        GROUP BY A.WAREHOUSE_GOODS_OPERATE_LOG_ID
        HAVING ORDER_NO = #{orderNo}
        ORDER BY A.ADD_TIME ASC
    </select>

</mapper>