<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxx.crawler.mapper.ChnRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jxx.crawler.model.ChnRecord" >
    <!--          -->
    <id column="CHN_RECORD_ID" property="chnRecordId" jdbcType="INTEGER" />
    <result column="CHN_RECORD_NUMBER" property="chnRecordNumber" jdbcType="VARCHAR" />
    <result column="RECORD_NAME" property="recordName" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="RECORD_DEPA" property="recordDepa" jdbcType="VARCHAR" />
    <result column="RECORD_DATE" property="recordDate" jdbcType="VARCHAR" />
    <result column="EXPIRATION_STORAGE" property="expirationStorage" jdbcType="VARCHAR" />
    <result column="RECORD_ADDRESS" property="recordAddress" jdbcType="LONGVARCHAR" />
    <result column="PRODUCT_ADDRESS" property="productAddress" jdbcType="LONGVARCHAR" />
    <result column="MODEL" property="model" jdbcType="LONGVARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="LONGVARCHAR" />
    <result column="INTENDED" property="intended" jdbcType="LONGVARCHAR" />
    <result column="UPDATE_CONTENT" property="updateContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CHN_RECORD_ID, CHN_RECORD_NUMBER, RECORD_NAME, GOODS_NAME, NOTE, RECORD_DEPA, RECORD_DATE,
    EXPIRATION_STORAGE,RECORD_ADDRESS, PRODUCT_ADDRESS, MODEL, DESCRIPTION, INTENDED, UPDATE_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from V_CHN_RECORD
    where CHN_RECORD_ID = #{chnRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--          -->
    delete from V_CHN_RECORD
    where CHN_RECORD_ID = #{chnRecordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxx.crawler.model.ChnRecord" >
    <!--          -->
    insert into V_CHN_RECORD (CHN_RECORD_ID, CHN_RECORD_NUMBER, RECORD_NAME, 
      GOODS_NAME, NOTE, RECORD_DEPA, 
      RECORD_DATE, EXPIRATION_STORAGE, RECORD_ADDRESS, 
      PRODUCT_ADDRESS, MODEL, DESCRIPTION, 
      INTENDED, UPDATE_CONTENT)
    values (#{chnRecordId,jdbcType=INTEGER}, #{chnRecordNumber,jdbcType=VARCHAR}, #{recordName,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{recordDepa,jdbcType=VARCHAR}, 
      #{recordDate,jdbcType=VARCHAR}, #{expirationStorage,jdbcType=VARCHAR}, #{recordAddress,jdbcType=LONGVARCHAR}, 
      #{productAddress,jdbcType=LONGVARCHAR}, #{model,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{intended,jdbcType=LONGVARCHAR}, #{updateContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxx.crawler.model.ChnRecord" >
    <!--          -->
    insert into V_CHN_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chnRecordId != null" >
        CHN_RECORD_ID,
      </if>
      <if test="chnRecordNumber != null" >
        CHN_RECORD_NUMBER,
      </if>
      <if test="recordName != null" >
        RECORD_NAME,
      </if>
      <if test="goodsName != null" >
        GOODS_NAME,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="recordDepa != null" >
        RECORD_DEPA,
      </if>
      <if test="recordDate != null" >
        RECORD_DATE,
      </if>
      <if test="expirationStorage != null" >
        EXPIRATION_STORAGE,
      </if>
      <if test="recordAddress != null" >
        RECORD_ADDRESS,
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS,
      </if>
      <if test="model != null" >
        MODEL,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="intended != null" >
        INTENDED,
      </if>
      <if test="updateContent != null" >
        UPDATE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chnRecordId != null" >
        #{chnRecordId,jdbcType=INTEGER},
      </if>
      <if test="chnRecordNumber != null" >
        #{chnRecordNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null" >
        #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="recordDepa != null" >
        #{recordDepa,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=VARCHAR},
      </if>
      <if test="expirationStorage != null" >
        #{expirationStorage,jdbcType=VARCHAR},
      </if>
      <if test="recordAddress != null" >
        #{recordAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="productAddress != null" >
        #{productAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="intended != null" >
        #{intended,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateContent != null" >
        #{updateContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxx.crawler.model.ChnRecord" >
    <!--          -->
    update V_CHN_RECORD
    <set >
      <if test="chnRecordNumber != null" >
        CHN_RECORD_NUMBER = #{chnRecordNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordName != null" >
        RECORD_NAME = #{recordName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="recordDepa != null" >
        RECORD_DEPA = #{recordDepa,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null" >
        RECORD_DATE = #{recordDate,jdbcType=VARCHAR},
      </if>
      <if test="expirationStorage != null" >
        EXPIRATION_STORAGE = #{expirationStorage,jdbcType=VARCHAR},
      </if>
      <if test="recordAddress != null" >
        RECORD_ADDRESS = #{recordAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS = #{productAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null" >
        MODEL = #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="intended != null" >
        INTENDED = #{intended,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateContent != null" >
        UPDATE_CONTENT = #{updateContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CHN_RECORD_ID = #{chnRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxx.crawler.model.ChnRecord" >
    <!--          -->
    update V_CHN_RECORD
    set CHN_RECORD_NUMBER = #{chnRecordNumber,jdbcType=VARCHAR},
      RECORD_NAME = #{recordName,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      RECORD_DEPA = #{recordDepa,jdbcType=VARCHAR},
      RECORD_DATE = #{recordDate,jdbcType=VARCHAR},
      EXPIRATION_STORAGE = #{expirationStorage,jdbcType=VARCHAR},
      RECORD_ADDRESS = #{recordAddress,jdbcType=LONGVARCHAR},
      PRODUCT_ADDRESS = #{productAddress,jdbcType=LONGVARCHAR},
      MODEL = #{model,jdbcType=LONGVARCHAR},
      DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      INTENDED = #{intended,jdbcType=LONGVARCHAR},
      UPDATE_CONTENT = #{updateContent,jdbcType=LONGVARCHAR}
    where CHN_RECORD_ID = #{chnRecordId,jdbcType=INTEGER}
  </update>
  <select id="getChnRecordByNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from V_CHN_RECORD
    where CHN_RECORD_NUMBER = #{chnRecordNumber,jdbcType=VARCHAR}
  </select>
</mapper>