<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxx.crawler.mapper.ChnRegisterMapper" >
  <resultMap id="BaseResultMap" type="com.jxx.crawler.model.ChnRegister" >
    <!--          -->
    <id column="CHN_REGISTER_ID" property="chnRegisterId" jdbcType="INTEGER" />
    <result column="CHN_REGISTER_NUMBER" property="chnRegisterNumber" jdbcType="VARCHAR" />
    <result column="REGISTER_NAME" property="registerName" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="MANAGE_TYPE" property="manageType" jdbcType="VARCHAR" />
    <result column="EXPIRATION_STORAGE" property="expirationStorage" jdbcType="VARCHAR" />
    <result column="ATTACHMENT" property="attachment" jdbcType="VARCHAR" />
    <result column="OTHER_CONTENT" property="otherContent" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="APPROVAL_DEPA" property="approvalDepa" jdbcType="VARCHAR" />
    <result column="APPROVAL_DATE" property="approvalDate" jdbcType="VARCHAR" />
    <result column="EXPIRATION_DATE" property="expirationDate" jdbcType="VARCHAR" />
    <result column="REGISTER_ADDRESS" property="registerAddress" jdbcType="LONGVARCHAR" />
    <result column="PRODUCT_ADDRESS" property="productAddress" jdbcType="LONGVARCHAR" />
    <result column="MODEL" property="model" jdbcType="LONGVARCHAR" />
    <result column="COMPOSITION" property="composition" jdbcType="LONGVARCHAR" />
    <result column="SCOPE" property="scope" jdbcType="LONGVARCHAR" />
    <result column="UPDATE_CONTENT" property="updateContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    CHN_REGISTER_ID, CHN_REGISTER_NUMBER, REGISTER_NAME, GOODS_NAME, MANAGE_TYPE, EXPIRATION_STORAGE, 
    ATTACHMENT, OTHER_CONTENT, NOTE, APPROVAL_DEPA, APPROVAL_DATE, EXPIRATION_DATE, REGISTER_ADDRESS, PRODUCT_ADDRESS, MODEL, COMPOSITION, SCOPE, UPDATE_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from V_CHN_REGISTER
    where CHN_REGISTER_ID = #{chnRegisterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--          -->
    delete from V_CHN_REGISTER
    where CHN_REGISTER_ID = #{chnRegisterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxx.crawler.model.ChnRegister" >
    <!--          -->
    insert into V_CHN_REGISTER (CHN_REGISTER_ID, CHN_REGISTER_NUMBER, 
      REGISTER_NAME, GOODS_NAME, MANAGE_TYPE, 
      EXPIRATION_STORAGE, ATTACHMENT, OTHER_CONTENT, 
      NOTE, APPROVAL_DEPA, APPROVAL_DATE, 
      EXPIRATION_DATE, REGISTER_ADDRESS, PRODUCT_ADDRESS, 
      MODEL, COMPOSITION, SCOPE, 
      UPDATE_CONTENT)
    values (#{chnRegisterId,jdbcType=INTEGER}, #{chnRegisterNumber,jdbcType=VARCHAR}, 
      #{registerName,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{manageType,jdbcType=VARCHAR}, 
      #{expirationStorage,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{otherContent,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{approvalDepa,jdbcType=VARCHAR}, #{approvalDate,jdbcType=VARCHAR}, 
      #{expirationDate,jdbcType=VARCHAR}, #{registerAddress,jdbcType=LONGVARCHAR}, #{productAddress,jdbcType=LONGVARCHAR}, 
      #{model,jdbcType=LONGVARCHAR}, #{composition,jdbcType=LONGVARCHAR}, #{scope,jdbcType=LONGVARCHAR}, 
      #{updateContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxx.crawler.model.ChnRegister" >
    <!--          -->
    insert into V_CHN_REGISTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chnRegisterId != null" >
        CHN_REGISTER_ID,
      </if>
      <if test="chnRegisterNumber != null" >
        CHN_REGISTER_NUMBER,
      </if>
      <if test="registerName != null" >
        REGISTER_NAME,
      </if>
      <if test="goodsName != null" >
        GOODS_NAME,
      </if>
      <if test="manageType != null" >
        MANAGE_TYPE,
      </if>
      <if test="expirationStorage != null" >
        EXPIRATION_STORAGE,
      </if>
      <if test="attachment != null" >
        ATTACHMENT,
      </if>
      <if test="otherContent != null" >
        OTHER_CONTENT,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="approvalDepa != null" >
        APPROVAL_DEPA,
      </if>
      <if test="approvalDate != null" >
        APPROVAL_DATE,
      </if>
      <if test="expirationDate != null" >
        EXPIRATION_DATE,
      </if>
      <if test="registerAddress != null" >
        REGISTER_ADDRESS,
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS,
      </if>
      <if test="model != null" >
        MODEL,
      </if>
      <if test="composition != null" >
        COMPOSITION,
      </if>
      <if test="scope != null" >
        SCOPE,
      </if>
      <if test="updateContent != null" >
        UPDATE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chnRegisterId != null" >
        #{chnRegisterId,jdbcType=INTEGER},
      </if>
      <if test="chnRegisterNumber != null" >
        #{chnRegisterNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="manageType != null" >
        #{manageType,jdbcType=VARCHAR},
      </if>
      <if test="expirationStorage != null" >
        #{expirationStorage,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="otherContent != null" >
        #{otherContent,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="approvalDepa != null" >
        #{approvalDepa,jdbcType=VARCHAR},
      </if>
      <if test="approvalDate != null" >
        #{approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        #{expirationDate,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        #{registerAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="productAddress != null" >
        #{productAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="composition != null" >
        #{composition,jdbcType=LONGVARCHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateContent != null" >
        #{updateContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxx.crawler.model.ChnRegister" >
    <!--          -->
    update V_CHN_REGISTER
    <set >
      <if test="chnRegisterNumber != null" >
        CHN_REGISTER_NUMBER = #{chnRegisterNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        REGISTER_NAME = #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="manageType != null" >
        MANAGE_TYPE = #{manageType,jdbcType=VARCHAR},
      </if>
      <if test="expirationStorage != null" >
        EXPIRATION_STORAGE = #{expirationStorage,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        ATTACHMENT = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="otherContent != null" >
        OTHER_CONTENT = #{otherContent,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="approvalDepa != null" >
        APPROVAL_DEPA = #{approvalDepa,jdbcType=VARCHAR},
      </if>
      <if test="approvalDate != null" >
        APPROVAL_DATE = #{approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        EXPIRATION_DATE = #{expirationDate,jdbcType=VARCHAR},
      </if>
      <if test="registerAddress != null" >
        REGISTER_ADDRESS = #{registerAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="productAddress != null" >
        PRODUCT_ADDRESS = #{productAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null" >
        MODEL = #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="composition != null" >
        COMPOSITION = #{composition,jdbcType=LONGVARCHAR},
      </if>
      <if test="scope != null" >
        SCOPE = #{scope,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateContent != null" >
        UPDATE_CONTENT = #{updateContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CHN_REGISTER_ID = #{chnRegisterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxx.crawler.model.ChnRegister" >
    <!--          -->
    update V_CHN_REGISTER
    set CHN_REGISTER_NUMBER = #{chnRegisterNumber,jdbcType=VARCHAR},
      REGISTER_NAME = #{registerName,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      MANAGE_TYPE = #{manageType,jdbcType=VARCHAR},
      EXPIRATION_STORAGE = #{expirationStorage,jdbcType=VARCHAR},
      ATTACHMENT = #{attachment,jdbcType=VARCHAR},
      OTHER_CONTENT = #{otherContent,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      APPROVAL_DEPA = #{approvalDepa,jdbcType=VARCHAR},
      APPROVAL_DATE = #{approvalDate,jdbcType=VARCHAR},
      EXPIRATION_DATE = #{expirationDate,jdbcType=VARCHAR},
      REGISTER_ADDRESS = #{registerAddress,jdbcType=LONGVARCHAR},
      PRODUCT_ADDRESS = #{productAddress,jdbcType=LONGVARCHAR},
      MODEL = #{model,jdbcType=LONGVARCHAR},
      COMPOSITION = #{composition,jdbcType=LONGVARCHAR},
      SCOPE = #{scope,jdbcType=LONGVARCHAR},
      UPDATE_CONTENT = #{updateContent,jdbcType=LONGVARCHAR}
    where CHN_REGISTER_ID = #{chnRegisterId,jdbcType=INTEGER}
  </update>
  <select id="getChnRegisterByNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from V_CHN_REGISTER
    where CHN_REGISTER_NUMBER = #{chnRegisterNumber,jdbcType=VARCHAR}
  </select>
</mapper>